.container-main{
    border: 1px solid rgb(83, 79, 79);
    background-color: #f0f0f0;
    margin-top: 10px;
    display: flex;
    align-items: center;
    padding: 10px;
}
.container{
    width: 92%;
}
.myTitle{
    font-weight: 500;
    font-size: 16px;
}
.title-botom{
    font-weight: 100;
    font-size: 14px;

}
