.header {
    display:flex;
    justify-content:flex-start;
        padding:10px;
        color:#0366d6
}
.issuesNo{
    color: gray;
    text-align: center;
    border-left: 1px solid gray;
    border-right: 1px solid gray;
    border-top: solid 4px orange;
    padding: 5px;
    margin-left: 50px;
    width: 100px;
}
.main{
    display: flex;
}
.bottom-border{
    border-bottom: 1px solid gray;
}