.main-issueDetail{
    margin: 0 auto;
    width: 70%;
    border: 2px solid black;
    padding: 10px;
    margin-top: 20px;
}
.myTitle1{

    font-weight: 600;
    font-size: 24px;
    background-color: white;
    margin-top: 10px;
    align-items: center;
    padding: 0 20px 0 20px;
    font-size: 20px;
}

.Issues-detail{
    /* border: 1px solid black; */
    font-weight: 300;
    font-size: 16px;
    background-color: white;
    margin-top: 10px;
    align-items: center;
    padding: 20px;
}

.comment-body{
    /* border: 3px solid black; */
    font-weight: 300;
    font-size: 14px;
    margin: 20px;
    align-items: center;
    padding: 20px;
    background-color: white;
}

.single-comment{
    border: 3px solid black;
    font-weight: 300;
    font-size: 14px;
    background-color: white;
    margin: 20px;
    align-items: center;
    padding: 20px;
    display: flex;
    justify-content: space-between

}

input[type=text] {
    width: 100%;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: white;
    background-position: 10px 10px; 
    background-repeat: no-repeat;    
  }



